div#wrapper,footer{
    margin: auto;
    width: 1500px;
    background-color: whitesmoke;
    align-content: center;
    height:750pxpx;


}
.typewrite{
    margin-left: 60px;
}
.nav {
 background-color: black ;
 color: #FFFFFF;
 text-align: center;
 padding: 20px 0 20px 0;

}

.nav > li{
    display:inline-block;
    padding-right: 50px;
    margin-left:20px
}

.nav > li > a{
    text-decoration: none;
    color: #FFFFFF;
}

.main{
    margin-left:300px;
}
.ik1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.ik2{
    float: right;
    width: 300px;
    height: 300px;
    margin-right: 100px;
}
.logo5{
    width: 201px;
    height:271px;
}
.logos{
    margin-left: 160px;
}
.maincontent{
    margin-left: 60px;
}
.logo6{
    width: 200px;
    height: 200px;
}
.logo7{
    width: 200px;
    height: 200px;
    margin-left:10px;
}
.bierhier1{
    float:right;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.headprojects{
    margin-left:60px;
}
.contactphoto{
   margin-left: 100px;
    margin-top: 20px;
}
.infostaff{
    margin-left:100px;

}